<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <form method = 'post' action = ''>
    <title>Afternoon Adventures</title>
    <link rel="stylesheet" type="text/css" href="styles/best.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poiret%20One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
  </head>
    <meta charset="utf-8">
    <font color="darkorange"><h1>About Us</h1></font color="darkorange">
  </head>

      <body>

      <div class="container">
      <nav>
        <ul>
          <img src="/images/kelsi.JPG" alt="kelsi" height="170" width="170">
        </ul>
      </nav>

      <article>
        <font color="orange"><h1>Kelsi Cappetto</h1></font>
        <div align = left>
        <font color="black">
          <p>Kelsi is a incoming freshman at Cal Poly San Luis Obsipo. She is
          majoring in Biomedical Engineering, in the School of
          Engineering. Before Google CSSI, she took AP Computer Science
          class in her junior year. She is very excited to have worked in her
          team to create her first project.</p></font>
      </article>
      </div>
      </head>
      <body>

      <div class="container">
      <nav>
        <ul>
          <img src="/images/chloe.jpg" alt="chloe" height="170" width="170">
        </ul>
      </nav>

      <article>
        <font color="orange"><h1>Chloe Tsien</h1></font>
        <div align = left>
        <font color="black">
          <p>Chloe is attending University of Washington, Seattle this fall, intending to major
              in Computer Science. She has taken various programming and graphic design classes
              in high school. As an incoming freshman, she looks forward to challenging herself in
              the CS curriculum and continuing to share her passion for technology.</p></font>
      </article>
      </div>
      </head>
      <body>

      <div class="container">
      <nav>
        <ul>
          <img src="/images/elizabeth.jpg" alt="elizabeth" height="170" width="170">
        </ul>
      </nav>

      <article>
        <font color="orange"><h1>Elizabeth Lin</h1></font>
        <div align = left>
        <font color="black">
          <p>Elizabeth will be an incoming freshman at University of Washington, Seattle and plans
             to major in Engineering. Before Google CSSI, she did not have any coding
              experience. However, she looks forward to applying her coding skills in college and
              continuing to learn new languages.</p></font>
      </article>
      <div class = 'bar'>
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img src='http://balithisweek.com/wp-content/uploads/2015/11/icon-for-sunset.png' alt='icon' style="width:30px;height:30px;"></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT</a></li>
            </ul>
          </div>
        </nav>
      </div>
  </body>
</html>
