<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Afternoon Adventures</title>
  </head>
  <body>
    <form>
      <input type="radio" name="weather" value="indoor">Indoor<br>
      <input type="radio" name="weather" value="outdoor">Outdoor<br>

      <label for = 'activity'>What type of activity? </label><br>
      <input type="checkbox" name="movie" value="movie">Movie<br>
      <input type="checkbox" name="restaurant" value="restaurant">Restaurant<br>

      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
