<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Poiret One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Carme' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="styles/returns.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <form method = 'post' action = ''>
    <title>Return</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 500px;
        width:
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 47.628538, lng: -122.202760},
          zoom: 15
        });

        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        service.getDetails({
          placeId: 'ChIJN1t_tDeuEmsRUsoyG83frY4'
        }, function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              position: {lat: 47.628538 , lng: -122.202760}
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                'Place ID: ' + place.place_id + '<br>' +
                place.formatted_address + '</div>');
              infowindow.open(map, this);
            });
          }
        });
      }
    </script>
<script>
var map;



google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </head>
  <body class = 'container'>
    <h1> Here's a list of recommended activities! Have fun adventuring!</h1>
    {% for activity in activities %}
      <h3><div id='activity'>{{ activity }}:</h3> </div>
      <div id= 'item'> {{activities[activity]}} </div><br>
    {% endfor %}

     <div id="map"></div>
     <!-- AIzaSyAONcW6_5CMWuJLinf2yll5d0wIauHff2s -->
     <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAONcW6_5CMWuJLinf2yll5d0wIauHff2s&libraries=places&callback=initMap">
     </script>

     <div class = 'bar'>
       <nav class="navbar navbar-default navbar-fixed-bottom">
         <div class="container-fluid">
           <div class="navbar-header">
             <a class="navbar-brand" href="#">
               <img src='http://balithisweek.com/wp-content/uploads/2015/11/icon-for-sunset.png' alt='icon' style="width:30px;height:30px;"></a>
           </div>
           <ul class="nav navbar-nav">
             <li><a href="/">HOME</a></li>
             <li><a href="/about">ABOUT</a></li>
           </ul>
         </div>
       </nav>
     </div>
  </body>

  </html>
