<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Poiret One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Carme' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="styles/returns.css" type="text/css" rel="stylesheet">
    <!-- <form method = 'post' action = ''> -->
    <title>Afternoon Adventures</title>

    <body class = 'container'>

      <div class = 'wrapper'>

          <h1> HERE'S A LIST OF RECOMMENDED ACTIVITIES! HAVE FUN ADVENTURING!</h1>
          <div id = 'words'>
            {% for activity in activities %}
            <div class = 'card'>
              <h2>{{ activity }}:</h2>
              <h3>{{activities[activity]}}</h3><br>
            </div>
            {% endfor %}
          </div>

          <br>
        <div class = 'mmap'>
        <div id="map"></div>
        <h4> Unsure of a location? Search for its address!</h4>
      </div>
      </div>
  </body>
    <body>
      <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="map"></div>
    <div id="infowindow-content">
      <span id="place-name"  class="title"></span><br>
      Place ID <span id="place-id"></span><br>
      <span id="place-address"></span>
    </div>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
      function initMap() {
       var map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 47.628538, lng: -122.202760},
         zoom: 13
       });

       var input = document.getElementById('pac-input');

       var autocomplete = new google.maps.places.Autocomplete(input);
       autocomplete.bindTo('bounds', map);

       map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

       var infowindow = new google.maps.InfoWindow();
       var infowindowContent = document.getElementById('infowindow-content');
       infowindow.setContent(infowindowContent);
       var marker = new google.maps.Marker({
         map: map
       });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });


       autocomplete.addListener('place_changed', function() {
         infowindow.close();
         var place = autocomplete.getPlace();
         if (!place.geometry) {
           return;
         }

         if (place.geometry.viewport) {
           map.fitBounds(place.geometry.viewport);
         } else {
           map.setCenter(place.geometry.location);
           map.setZoom(17);
         }

         // Set the position of the marker using the place ID and location.
         marker.setPlace({
           placeId: place.place_id,
           location: place.geometry.location
         });
         marker.setVisible(true);

         infowindowContent.children['place-name'].textContent = place.name;
         infowindowContent.children['place-id'].textContent = place.place_id;
         infowindowContent.children['place-address'].textContent =
             place.formatted_address;
         infowindow.open(map, marker);
       });
     }
     </script>
     <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAONcW6_5CMWuJLinf2yll5d0wIauHff2s&libraries=places&callback=initMap">
     </script>
   </body>
    </head>
    <!-- <body class = 'container'>
      <h1> Here's a list of recommended activities! Have fun adventuring!</h1>
        {% for activity in activities %}
          <h3><div id='activity'>{{ activity }}:</h3> </div>
          <div id= 'item'> {{activities[activity]}} </div><br>
        {% endfor %}

          <div id="map"></div>
  </body> -->


     <div class = 'bar'>
       <nav class="navbar navbar-default navbar-fixed-bottom">
         <div class="container-fluid">
           <div class="navbar-header">
             <a class="navbar-brand" href="#">
               <img src='http://balithisweek.com/wp-content/uploads/2015/11/icon-for-sunset.png' alt='icon' style="width:30px;height:30px;"></a>
           </div>
           <ul class="nav navbar-nav">
             <li><a href="/">HOME</a></li>
             <li><a href="/about">ABOUT</a></li>
           </ul>
         </div>
       </nav>
     </div>
  </body>


  </html>
