<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Poiret One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
    <link href="styles/returns.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <form method = 'post' action = ''>
    <title>Return</title>
  </head>
  <body>
    <h1> Here's a list of recommended activities! Have fun adventuring!</h1>
    {% for activity in activities %}
      <h3><div id='activity'>{{ activity }}:</h3> </div>
      <div id= 'item'> {{activities[activity]}} </div><br>
    {% endfor %}
  </body>
</html>
