div.container {
    width: 100%;
    border: 1px solid clear;
}
body{
    background-color: white;
}
header{
    padding: 1em;
    color: white;
    background-color: white;
    clear: left;
    text-align: left;
}

nav {
    float: left;
    max-width: 140px;
    margin: 5;
    padding: 0em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 30px solid white;
    padding: 1em;
    overflow: hidden;
}
h1 {
  font-family: 'Poiret One';
  font-weight: bold;
}
