#outChoice {
  display:none;
}



p {
  letter-spacing: 2.9px;
  font-family: 'Carme'
}

html {
  background-color: #404040
}

.container {
  background-color: #404040
}


.active{
  font-family: 'Poiret One';
  font-size: 25px;
  color: #FFE4B5;
}
.door{
  font-family: 'Carme';
  font-size: 20px;
  color: #000000
}

#sub {
  font-family: 'Poiret One';
  text-align: center
}
.bar{
  font-family: 'Poiret One';
  font-weight: bold;
  font-size: 17px;
}
