h1{
    text-align: center;
    color: #FFC259;
    font-weight: 900;
    text-shadow: -0.3px 0 #FFE4B5, 0 0.3px #FFE4B5, 0.3px 0 #FFE4B5, 0 -0.3px #FFE4B5;
    font-family: 'Poiret One';
}
#activity{
  color: #FF6347;
  font-family: 'Carme';

}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}

#item{
  text-decoration: underline;
  text-indent: 50px;
  font-family: 'Carme';
  color: #FFC259;
  font-weight: bold;
}

.wrapper{
  width: 100%;
  margin: auto;
}
#map {
  height: 500px;
  width: 600px;
}

.mmap{
  float: right;
}

h4 {
  color: #FFC259;
  font-size: 25px;
  text-align: center;
  font-weight: normal;
}

#words{
  height: 300px;
  width: 500px;
  float: left;

}

h2 {
  font-family: 'Carme';
  color: #FFC259;
}

h3 {
  font-family: 'Carme';
  color: #FFE4B5;
  font-size: 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 50%;
    float: left;
    margin: 10px;
    background-color: #474747
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.con {
    padding: 2px 16px;
    margin: 6px
}

#address{
  font-family: 'Carme';
  color: #FF7F50;
}
  /* Optional: Makes the sample page fill the window. */
html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('http://natbg.com/wp-content/uploads/2016/09/sunsets-sailboat-golden-sunset-zakat-ozero-lodka-peyzazh-nature-gold-sun-sky-sunsets-full-hd-wallpaper-1920x1080.jpg');
  }
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #404040
  }

.navbar-default {
  background-color: #FFC259;
  border-color: #FFE4B5;
}
/* Title */
.navbar-default .navbar-brand {
    color: #FFF1D9;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF1D9;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #FFF1D9;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #822110;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FF6347;
    background-color: #822110;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFC259;
    background-color: #FFC259;
}
.nav-tabs a{ color: #FFE4B5}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #555555;
    background-color: red;
}

.bar{
  font-family: 'Poiret One';
  font-weight: bold;
  font-size: 20px;
}
