h1{
    text-align: center;
    color: 	red;
    font-family: 'Poiret One';
}
#activity{
  color: #FF6347;
  font-family: 'Carme';

}
#item{
  text-decoration: underline;
  text-indent: 50px;
  font-family: 'Carme';
  color: #C71585;
  font-weight: bold;
}
html{
  background-color: #FFFAD9;

}
#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .navbar-default {
    background-color: #FFC259;
    border-color: #FFE4B5;
  }
  /* Title */
  .navbar-default .navbar-brand {
      color: #FFF1D9;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: #FFF1D9;
  }
  /* Link */
  .navbar-default .navbar-nav > li > a {
      color: #FFF1D9;
      font-weight: bold;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color: #822110;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      color: #FF6347;
      background-color: #822110;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
      color: #FFC259;
      background-color: #FFC259;
  }
  .nav-tabs a{ color: #FFE4B5}
  .nav-tabs > li > a:hover{
    background-color: #303136 !important;
      border: medium none;
      border-radius: 0;
      color:#fff;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus{
      color: #555555;
      background-color: red;
  }

.bar{
  font-family: 'Poiret One';
  font-weight: bold;
  font-size: 20px;
}
